<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss} [%thread] %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue, TRACE=white} %cyan{%logger{20}} - %msg%n</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender - colored output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender - test run logs -->
        <RollingFile name="RollingFile"
                     fileName="${LOG_DIR}/hrm_automation.log"
                     filePattern="${LOG_DIR}/archive/hrm_automation_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Separate file for ERROR level only -->
        <RollingFile name="ErrorFile"
                     fileName="${LOG_DIR}/errors.log"
                     filePattern="${LOG_DIR}/archive/errors_%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Framework loggers - INFO level -->
        <Logger name="com.hrm" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Selenium internal logs - WARN only to reduce noise -->
        <Logger name="org.seleniumhq" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- WebDriverManager logs -->
        <Logger name="io.github.bonigarcia" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Apache HTTP Client (used by Selenium 4) -->
        <Logger name="org.apache.http" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>
